@model IEnumerable<ISkillsMyApp.Models.Categories>
    @using ISkillsMyApp.Models

@{
    ViewBag.Title = "Index";
}




<body background="http://www.elcamino.edu/studentservices/bookstore/images/bookstore1.jpg"
<h2><center>All Books in One Place</center></h2>
<br />
<p> On the menus below you can learn about many Book store services, books and shop for your favourate merchandise! <br/>
Click on tabs below to learn more about</p>
<ul class="nav nav-pills">

@foreach (Categories category in Model)
{
<li>
@*@Html.ActionLink(category.CategoryName, "CategoryProduct", new { id = category.CategoryID })*@
@Ajax.ActionLink(category.CategoryName, "CategoryProduct", new{id= category.CategoryID }, new AjaxOptions{ UpdateTargetId= "partialDiv"},new { })
</li>
}

</ul>
<div id="partialDiv">

</div>


    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
